<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Cele mai bune produse de birotică și papetărie, cele mai cool rechizite școlare,cele mai cunoscute carti">
        <meta name="keywords" content="librărie, școala, papetărie, rechizite">
        <%- include("../Fragmente/head.ejs") %>
        <script type="text/javascript" src="/Resurse/Js/utilizatori.js"></script>
    </head>
    <body id='variabile'>
        <%- include("../Fragmente/header.ejs") %>
        <main>
            <div class="afisaj">
                <h2>Useri</h2>
        
                <table id="useri">
                  <tr>
                    <th>id</th><th>Username</th><th>Poza</th><th>Problema vedere</th><th>Stergere poza</th><th>Rol</th><th>Data inregistrare</th>
                  </tr>
        
                  <% for (var i = 0; i < useri.length; i++) { 
                        if(useri[i].rol=="comun"){
                        %>
                        <tr>
                          <td><%= useri[i].id %></td>
                          <td><%= useri[i].username %></td>
                          <% if(useri[i].fotografie){ %>
                            <td><img src ='<%= useri[i].fotografie %>' alt='poza', id="poza-<%= useri[i].id %>" style="width: 100px"></td>
                          <% } else { %>
                            <td><img src ='/Resurse/Imagini/default.png' alt='poza', id="poza-<%= useri[i].id %>" style="width: 100px"></td>

                          <% } %>  
                          <td style="text-align: center;"><span style="color: red;"><%= useri[i].problema_vedere %></span></td>
                          <td><button onclick="stergePoza(<%= useri[i].id %>)" class="sterge-poza">Sterge poza</button></td>>
                          <td><%=  useri[i].rol %></td>
                           <%  
					        d=new Date(useri[i].data_adaugare)
					        sir_data=`${d.getDate()}/${d.getMonth()}/${d.getFullYear()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`
				            %>
                            <td><%=  sir_data %></td>
                        </tr> 
                        <% } %>			
                  <% } %>
                </table>
                
                <p>Sterge utilizator</p>
                <form id="sterge" method="post" action="/sterge_utiliz">
                    <label>
                        Id: <input type="text" name="id_utiliz" value="">
                    </label>
                    
                    <input type="submit" value="Submit">
                </form>
            </div>
        </main>
        <%- include("../Fragmente/footer.ejs") %>
    </body>
</html>